.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  padding-top: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: lightgrey;
}

.button {
  float: right;
  background-color: #113d12;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.txButton {
  background-color: #627716;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.txButton:hover {
  background-color: lightgrey;
  color: black;
}

.entryList {
  margin-left: 1em;
}

dt {
  float: left;
  width: 10%;
  /* adjust the width; make sure the total of both is 100% */
  font-weight: bold;
  border-radius: 5px;
  margin: 0;
}
dd {
  float: left;
  width: 90%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}

.log {
  font-size: 24px;
}
.inline-div {
  display: inline-block;
}
.inline-txtarea {
  resize: none;
  border: 2px solid red;
  margin-left: 5vw;
  width: 40vw;
}
