html
    head
        title= title
    body
        h1= message
        p= para

        form(method='POST' action='/interact/approve')
          button(type="submit") approve

          button(type="submit") cancel
