html
    head
        title= title
    body
        h1= message
        p= para

        form(action="/interact/approve", method="post")
            button(type="submit", value="true", name="approved") Approve
            button(type="submit", value="false", name="approved") Decline